<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .intro {
            height: 65% !important;
        }

        table th {
            background-color: #002d72 !important;
            color: white;
        }

        table td {
            max-width: 300px !important; 
            white-space: nowrap !important; 
            overflow: hidden !important; 
            text-overflow: ellipsis !important;
        }
        table th {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
        }

        th, td {
            text-align: center !important;
        }

        thead th {
            color: #fff !important;
        }

        .card {
            border-radius: .5rem !important;
        }

        .table-scroll {
            border-radius: .5rem !important;
            max-height: 450px !important;
            overflow-y: auto !important;
        }

        .table-scroll table thead th {
            font-size: 1.25rem !important;
        }
        thead {
            top: 0 !important;
            position: sticky !important;
        }
        .form-check .form-check-input {
            width: 20em !important;
            height: 2.0em !important;
        }

        .form-check .form-check-input:checked::before {
            width: 15em;
            height: 1.5em;
        }

        .red-rectangle {
            width: 30px;
            height: 30px;
            background-color: red;
        }

        .green-rectangle {
            width: 30px;
            height: 30px;
            background-color: green;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3" th:text="${role}"><sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Manage
            </div>
            
            <li class="nav-item" th:if="${role == 'admin'}">
                <a class="nav-link" th:href="@{/membersManagement}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Members Management</span></a>
            </li>

            <li class="nav-item" th:if="${role == 'admin'}">
                <a class="nav-link" th:href="@{/projectManagement}">
                    <i class="fas fa-fw fa-pencil-ruler"></i>
                    <span>Project Management</span></a>
            </li>

            <li class="nav-item" th:if="${role == 'admin'}">
                <a class="nav-link" th:href="@{/publicationManagement}">
                    <i class="fas fa-fw fa-envelope-square"></i>
                    <span>Publication Management</span></a>
            </li>

            <li class="nav-item active" th:if="${role == 'admin'}">
                <a class="nav-link" th:href="@{/resourceManagement}">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Resource Management</span></a>
            </li>

            <li class="nav-item" th:if="${role == 'admin'}">
                <a class="nav-link" th:href="@{/roleManagement}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Role Management</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${first_name + ' ' + last_name}"></span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Resource Management</h1>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            <i class="fas fa-fw fa-plus"></i>
                    </div>

                </div>
                <!-- /.container-fluid -->
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add a Resource</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="addResourceForm" th:action="@{/addResource}" th:object="${resource}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" th:field="*{name}" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <textarea th:field="*{description}" class="form-control" id="description" name="description" rows="4" cols="50" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="availability">Availability:</label>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" th:field="*{availability}" id="availability" name="availability" checked>
                                        </div>
                                    </div>                                
                                    <div class="form-group">
                                        <label for="Image">Image:</label>
                                        <input type="file" name="image" accept="image/png" id="image" class="form-control-file">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" onclick="refreshPage()">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="intro">
                    <div class="bg-image h-100" style="background-color: #f5f7fa;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                    <table class="table table-striped mb-0">
                                    <thead style="background-color: #002d72;">
                                        <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Availability</th>
                                        <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="r : ${resources}">
                                            <td th:text="${r.getName()}"></td>
                                            <td th:text="${r.getDescription()}"></td>
                                            <td style="display: flex; justify-content: center; align-items: center;">
                                                <div th:if="${r.getAvailability()}" class="green-rectangle"></div>
                                                <div th:unless="${r.getAvailability()}" class="red-rectangle"></div>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm rounded" th:attr="onclick='openEditModal(\'' + ${r.getId()} + '\')'" style="margin-right: 10px;">
                                                        Edit
                                                    </button>
                                                    <form th:action="@{/deleteResource}" method="post">
                                                        <input type="hidden" th:name="resourceId" th:value="${r.getId()}" />
                                                        <button type="submit" class="btn btn-danger btn-sm" onclick="refreshPage()">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>
                <!-- Edit Modal (Outside of the Table) -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form th:action="@{/editResource}" th:object="${resource}" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Resource</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideEditModal()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" th:field="*{id}" class="form-control" id="idEdit" name="id" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameEdit">Name:</label>
                                        <input type="text" th:field="*{name}" class="form-control" id="nameEdit" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="descriptionEdit">Description:</label>
                                        <textarea th:field="*{description}" class="form-control" id="descriptionEdit" name="descriptionEdit" rows="4" cols="50" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="availability">Availability:</label>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" th:field="*{availability}" id="availabilityEdit" name="availabilityEdit" checked>
                                        </div>
                                    </div>                                
                                    <div class="form-group">
                                        <label for="Image">Image:</label>
                                        <input type="file" name="image" accept="image/*" id="image" class="form-control-file">
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideEditModal()">Close</button>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SDSI JEE 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/login}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        function openEditModal(id) {
            console.log(id);
    
            $.ajax({
                url: "/getResourceById/" + id,
                type: "GET",
                contentType: "application/json",
                success: function(data) {
                    console.log(data);
                    $('#idEdit').val(data.id);
                    $('#nameEdit').val(data.name);
                    $('#descriptionEdit').val(data.description);
                    $('#AvailabilityEdit').val(data.availability);
                    if (checkbox.checked) {
                        console.log("Checkbox is checked.");
                    } else {
                        console.log("Checkbox is not checked.");
                    }
                    $('#editModal').modal('show');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error: " + textStatus, errorThrown);
                }
            });
        }
        function hideEditModal(){
            $('#editModal').modal('hide');
        }
    </script>
</body>

</html>