@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Lato',Arial, sans-serif;
$primary: #a7d129;

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #fff;
	color: lighten($black,50%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.chosen-container{
	width: 100% !important;
	.chosen-choices{
		border: 1px solid $primary;
		padding: 5px 10px;
		box-shadow: none;
		background-image: none;
		line-height: 3;
		border-radius: 4px;
	}
	.chosen-drop{
		margin-top: 2px;
		border: 1px solid $primary;
		box-shadow: none;
		border-radius: 4px;
	}

	.chosen-results {
		li{
			@include transition(.3s);
			padding: 10px;
			font-size: 14px;
			&.highlighted{
				background-image: none;
				background: $primary;
			}
			&.group-result{
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: 17px;
				background: rgba(0,0,0,.05);
			}
		}
	}
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	font-size: 14px;
}

.chosen-container-multi .chosen-choices li.search-choice{
	border: none;
	padding: 10px 25px 10px 10px;
	background: rgba(0,0,0,.1);
	background-image: none;
	box-shadow: none;
	border-radius: 2px;
	font-size: 14px;
	.search-choice-close{
		top: 11px;
		right: 8px
	}
}

.chosen-container-multi .chosen-drop .result-selected{
	// bordeR: 1px solid red;
}
